<div>
  <div>
    <sly-field title="Action" description="Select what action should be applied to invalid annotations">
      <el-select v-model="state.action" placeholder="Select">
        <el-option
          key="tag"
          label="Add Tag"
          value="tag"
        ></el-option>
        <el-option
          key="del"
          label="Try to Correct Figures"
          value="del"
        ></el-option>
      </el-select>
    </sly-field>
  </div>
  <div v-if="state.action === 'tag'">
    <el-input placeholder="Tag name" size="mini" v-model="state.tagName"></el-input>
  </div>
</div>